body {
    font-family: Mukta, serif !important;
}

.home-height {
    max-height: 700px;
}

@media screen and (max-height: 900px) {
    .home-height {
        max-height: 550px;
    }
}

@media screen and (max-height: 800px) {
    .home-height {
        max-height: 450px;
    }
}

@media screen and (max-height: 700px) {
    .home-height {
        max-height: 350px;
    }
}

.nav-item a:hover {
    color: #fff !important;
}

.card {
    box-shadow: 0 0 8px #d2d2d2;
    padding: 0;
    border: none !important;
}

.card-header {
    background-color: transparent !important;
}

.btn-outline-primary {
    border: 1.5px solid #00698a !important;
    color: #00698a !important;
}

.btn-outline-primary:hover {
    background-color: #00698a !important;
    color: #b6dde1 !important;
}

kbd {
    background-color: #f7f7f7 !important;
    border-radius: 25px;
    box-shadow: 0 0 4px #d2d2d2;
    color: #292b2c !important;
    margin: 0 2px;
    padding: 5px 7px !important;
}

.details-box {
    border: 1.5px solid #ccc;
    color: #4b4b4b;
}

.calendar {
    box-shadow: 0 0 8px #d2d2d2;
}

.calendar ul {
    list-style: none;
}

.calendar-cell {
    height: 29px;
    line-height: 29px;
    margin: 5px;
    text-align: center;
    width: 29px;
}

#calendar-content a.active,
.calendar-cell:not(li,#legend-day):hover {
    background: rgba(var(--bs-info-rgb), 0.25);
}

.calendar-cell:not(li):hover {
    color: #444 !important;
}

.another-month {
    cursor: default;
    opacity: 0.4;
    pointer-events: none;
}

.raport-index {
    text-decoration: none;
}

.raport-index:hover {
    color: #555 !important;
    text-decoration: underline;
}

.avatar {
    --bs-avatar-size: calc(2.8125rem + var(--bs-border-width) * 2);
    --bs-avatar-border-radius: 50rem;
    --bs-avatar-font-size: 0.875rem;
    --bs-avatar-bg: var(--bs-success-bg-subtle);
    --bs-avatar-color: var(--bs-body-color);
    --bs-avatar-group-offset: calc(var(--bs-avatar-size) / -5);
    --bs-avatar-group-outline-width: calc(var(--bs-avatar-size) / 15);
    --bs-avatar-status-border-width: var(--bs-border-width);
    --bs-avatar-status-border-color: var(--bs-border-color);

    align-items: center;
    background-color: var(--bs-avatar-bg);
    border-radius: var(--bs-avatar-border-radius);
    color: var(--bs-avatar-color);
    display: inline-flex;
    font-size: var(--bs-avatar-font-size);
    height: var(--bs-avatar-size);
    justify-content: center;
    min-width: var(--bs-avatar-size);
    position: relative;
    text-transform: uppercase;
    width: var(--bs-avatar-size);
}

.avatar-lg {
    --bs-avatar-size: calc(3.5rem + var(--bs-border-width) * 2);
    --bs-avatar-font-size: 1rem;
}
